<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>HOMEPAGE</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Homepage</title>
</head>

<body>
    <nav id="menu">
        <ul>
            <li>
                <div id="profilePic">U</div>
                <a href="">
                    <%= user.name %>
                </a>
            </li>
            <li> <a href="/home/<%= user.id %> ">My Dashboard</a></li>
            <li><a href="/"> Logout </a></li>
        </ul>
    </nav>

    <%- include(viewSet,{ user, graphs, lists, trees}) %>

</body>

</html>