<main>
    <header>
        <input type="text" value="<%= lists.name%>">
    </header>

    <div id="grid">

        <menu>
            <ul id="buttonMenu">
                <li id="buttonSave"><img src="/img/save.png" alt=""></li>

            </ul>
        </menu>

        <div id="container">
            <div id="dataZone">
                <div id="cy"> </div>
            </div>
        </div>
    </div>
</main>
<script src="/src/list.js" listData="<%=lists.data%>"></script>