<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <title>HomePage</title>
</head>

<body>
    <div class="container">
        <h1>Welcome on the APP !</h1>
        <div class="formContainer">
            <h2>Login</h2>
            <form action="/" method="POST">
                <div class="formBlock">
                    <label for="name">Pseudo :</label>
                    <input type="text" id="name" name="userName">
                </div>
                <div class="formBlock">
                    <label for="password">Mot de passe :</label>
                    <input type="password" id="password" name="userPassword">
                </div>
                <input type="submit" value="login" id="loginBtn">
            </form>
        </div>
    </div>

</body>

</html>